PyMySQL==0.9.2
lxml==4.6.2
Flask==1.1.1
numpy==1.15.0
pyecharts==0.5.9
beautifulsoup4==4.6.3
jieba==0.39
pandas==0.23.4
Requests==2.20.0
csvtotable==2.1.1
echarts-themes-pypkg==0.0.3
echarts-countries-pypkg==0.1.4
echarts-china-provinces-pypkg==0.0.2