<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>关于我们</title>
    <link rel="stylesheet" type="text/css" href="../static/css/c1.css"/>
    <link rel="stylesheet" type="text/css" href="../static/css/mdui.min.css"/>
    <script src="../static/webjs/mdui.min.js"></script>

</head>
<body class="mdui-theme-primary-light-blue mdui-theme-accent-blue" style="zoom: 0.95 !important;text-align: center;">


<div class="container">


    <div class="boxus   mdui-ripple ">
        <img src="./static/icon/us/1.jpg">
    </div>


    <div class="boxus  mdui-ripple ">
        <img src="./static/icon/us/2.jpg">

    </div>

    <div class="boxus  mdui-ripple ">
        <img src="./static/icon/us/3.jpg">

    </div>

    <div class="boxus  mdui-ripple">
        <img src="./static/icon/us/4.jpg">

    </div>

    <div class="boxus  mdui-ripple ">
        <img src="./static/icon/us/5.jpg">

    </div>


    <div class="ustext">
        <span style="font-size:2.2em;">汤艳萍</span>
        <br><br>今天也要加油鸭！
        <br><br><span style="font-size: 1.4em;">队长，统筹全局，负责数据处理</span>
    </div>


    <div class="ustext">
        <span style="font-size:2.2em;">张益铭</span>
        <br><br>不造重复的轮子，但你要会造
        <br><br><span style="font-size: 1.4em;">负责爬虫、平台前后端建设、文档撰写</span>
    </div>

    <div class="ustext">
        <span style="font-size:2.2em;">郑文超</span>
        <br><br>
        <br><br><span style="font-size: 1.4em;">负责数据处理、数据分析、数据可视化</span>
    </div>

    <div class="ustext">
        <span style="font-size:2.2em;">王政凯</span>
        <br><br>真实
        <br><br><span style="font-size: 1.4em;">负责数据处理、数据分析、论文撰写</span>
    </div>

    <div class="ustext">
        <span style="font-size:2.2em;">张振磊</span>
        <br><br> #include&lt;bits/stdc++.h&gt;
        <br><br><span style="font-size: 1.3em;">负责交互互动</span>
    </div>

</div>


<a href="/">
    <button class="mdui-fab mdui-ripple mdui-fab-fixed mdui-color-theme-accent">
        <img src="../static/icon/home.png">
    </button>
</a>


</body>
</html>